article h1{
    width: 100%;
}

section{
    background-color: rgba(0, 0, 0, 0.061);
    margin: 2em;
}

section:hover{
    background-color: rgba(0, 0, 0, 0.161);
}

section:active{
    background-color: rgba(0, 0, 0, 0.261);
}

section h3{
    font-weight: normal;
}

section:active h3{
    font-weight: bold;
}

section img{

    display: inline;
    width: 150%;
    height: 150%;
    max-width: 100px;
    max-height: 100px;
}

#ressourceBar .boisNumber{
    color: white;
    padding: 0;
    margin: 0;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 85px;
    height: 20px; 
    width: 100px;
}

#ressourceBar .foodNumber{
    padding: 0;
    margin: 0;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 80px;
    height: 20px;
    width: 100px;   
}


#ressourceBar .pierreNumber{
    padding: 0;
    margin: 0;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 80px;
    height: 20px;   
    width: 100px;
}


#ressourceBar .villageoisNumber{
    padding: 0;
    margin: 0;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 80px;
    height: 20px;   
 
    width: 100px;
}
#ressourceBar{
    background-image: $ressourceBarUrl;
    background-size: contain;
    width: 715px;
    height: 96px;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 15px;
    
    color: white;
}


li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
    
.dropdownWrapper li .dropdown {
    opacity: 0;
    visibility: hidden;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0px;
    background-color: unset;
    background-image: $tileBlackUrl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    color: white;
    z-index: 3;
}

.dropdownWrapper li .dropdown > *{
    margin-left: 2em;   
}
  
.dropdownWrapper li:hover > .dropdown,
.dropdownWrapper li .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    height: 300px;
}




.specificInfoPanel{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 450px;
    background-image: $tileBlackUrl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-name: slidein;
    z-index: 2;


    .subFlexPanel{

        display: flex;
        width: 100%;
        height: 250px;
    
    }


    .subFlexPanel img{
        width: auto;
        height: 100%;
    
    }


    .infoBlocPanel{
        width: 100%;
        margin: 2em;
    }

    .headPanel{
        display: flex;
        width: 100%;
        padding-top: 10px;

        h1{
            flex: auto;
        }

        button{
            flex: 1;
            margin-right: 50px;
        }
    }
    .ressourceCostPanel{
        display: flex;
        width: 100%;
        padding-right: 2em;

        .ressourceBlock{
            display: inline-block;
            flex-wrap: wrap;
            width: 80px;
            margin-left: 20px;
            margin-right: 2em;
     
            span{
                display: block;
                text-align: center;
                width: 80px;
            }
     
        }
    
        button{
            flex: 1;
            margin-right: 2em;
        }
    
    }

    *{
        margin-left: 2em;
    }
}

@keyframes slidein {
    from {
        height: 0px;    
        top: 450px;
        color: rgba(255, 255, 255, 0);
    }


  
    to {
        height: 450px;
        top: 0;
        color: rgb(255, 255, 255);
    }
}



.infoPanel{
    width: 90%;
    margin-top: 2em;
    border: 2px solid rgba(255, 255, 255, 0.116);
    border-radius: 2px;
    height: 58px;
    padding: 2px;
    overflow: auto;
}


#PageContainer #canvasBatiments {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 450px;
	display: block;
}
#PageContainer .itemPanelContainer {
	position: relative;
	z-index: 0;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	height: fit-content;
	width: 100%;
}

.itemPanelContainer > * {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 2px;
	width: 100%;
	height: 200%;
	padding: 0;
    position: relative;
}

.itemPanelContainer > * h3{
	position: relative;
	bottom: 0;
	margin: 0;
	margin-top: 150px;

	background-color: #463d3d61;
	width: fit-content;
	padding: 1em;
	border-radius: 0 1em 1em 0;
}

.itemPanelContainer > * input{
    width: 40%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline;

}

.loadingBlack {
    background-color: #000000b3;
    width: 100%;
    height: 0%;
    top: 0;
    position: absolute;
    transition: all 1s ease;

}

.sendExpeditionsBoxWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vw;
}

.animationLoading{
    background-color: black;
    background-image: $horseRunning;
    z-index: 3;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


.on{
    animation: show 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: visible;
}

.off{
    animation: unshow 1s ease;
    visibility: hidden;
}


@keyframes show {
    0% {
        left: 0;
        visibility: visible;
        width: 0%;

    }
    100% {
        width: 100%;
    }
}

@keyframes unshow {
    0% {
        visibility: visible;
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;
        visibility: hidden;
    }
}

.expeditionsList {
    margin-top: 50px;
    width: 100%;
	height: 300px;
	display: block;
    background-image: $tileBlackUrl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}


.expeditionsList h1{
    padding-top: 30px;
    margin-left: 30px;
}

#unitePanelFon{
    width: 100%;
	height: 450px;
	display: block;
    background-image: $warUrl;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#expeditionsListContainer {
    overflow-y: scroll;
    height: 200px;
    width: 90%;
}


.expedition2List{

    margin-top: 50px;
    
    background-image: $tileBlackUrl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
	height: 400px;
	display: block;
    padding: 1em;
    padding-bottom: 50px;

}
#playerList{
    margin-left: 30px;
    margin-top: 30px;
    overflow: scroll;
    height: 400px;
}

#playerList p {

    background-color: azure;
    color: black;
    border-radius: 10px;
    padding: 1em;
    width: 80%;
}

#playerList p:hover{

    background-color: rgb(159, 195, 195);
}

#playerList p:active {

    background-color: rgb(62, 121, 121);
}

.chatbutton{

    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #ffffff6b;
    padding: 2em;
    height: 74px;
    border-radius: 10px 0 0 10px;
    color: black;
    transition: all ease 1s;
}


.chatbutton:hover{
    background-color: #ffffff96;

}


.chatbutton:active{
    background-color: #ffffffde;

}


.onchat{
    width: 60%;
    height: 60%;
}

#mainchat{

    overflow-y: scroll;
    height: 80%;
    position: absolute;
}

#mainchat ul li{
    display: block;
    margin: 1em;
    width: 100%;
}


.chatbox{
    bottom: 0;
position: absolute;
margin-bottom: 0;
}


#main-grid{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
#map{
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}

.top-btn{
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
}
.left-btn{
    grid-column: 1;
    grid-row: 2;
    margin: auto 0;
}
.right-btn{
    grid-column: 3;
    grid-row: 2;
    margin: auto 0;
}
.down-btn{
    grid-column: 2;
    grid-row: 3;
    margin: 0 auto;
}
.btn{
    height: 100%;
    width: 100%;
    border: none;
}