<article>
	<h1>Batiments 🏢</h1>

	<div>
		<section onclick="onAmeliorationClick('Scierie')">
			<h3>Scierie</h3>
			<p id="Scierie"></p>
		</section>

		<section onclick="onAmeliorationClick('Carriere')">
			<h3>Carrière</h3>
			<p id="Carriere"></p>
		</section>

		<section onclick="onAmeliorationClick('Ferme')">
			<h3>Ferme</h3>
			<p id="Ferme"></p>
		</section>

		<section onclick="onAmeliorationClick('EntrepotDeBois')">
			<h3>Entrepot de bois</h3>
			<p id="EntrepotDeBois"></p>
		</section>

		<section onclick="onAmeliorationClick('EntrepotDePierre')">
			<h3>Entrepot de pierre</h3>
			<p id="EntrepotDePierre"></p>
		</section>

		<section onclick="onAmeliorationClick('Silo')">
			<h3>Silo</h3>
			<p id="Silo"></p>
		</section>

		<section onclick="onAmeliorationClick('Maison')">
			<h3>maison</h3>
			<p id="Maison"></p>
		</section>

		<section onclick="onAmeliorationClick('Immeuble')">
			<h3>Immeuble</h3>
			<p id="Immeuble"></p>
		</section>
	</div>
</article>
