<article>
    <h1 style="position: relative; top: 0; left: 0;display: block; height: 10%; z-index: 2;">Unite 🏢</h1>
    <div id="batimentPanelContainer" style="position: relative; top: -15%; left: 0;display: block;">

        <div id="unitePanelFon">

        </div>

        <div class="itemPanelContainer" id="unitPanelContainer">

            <section style="background-image: url('./ressource/image/chasseur.jpeg')" onclick="displayUnitPanel('chasseur', './ressource/image/chasseur.jpeg',
				'Le chasseur est défini par le Codex alimentarius comme une personne qui participe à l\'abattage du gibier et/ou à la saignée, à l\'éviscération partielle et à l\'habillage partiel sur le terrain des animaux abattus, dans le cadre d\'une guerre le terme \'animaux\' peut être redéfini. '
				)">
                <div class="loadingBlack">
                    <sub>temps restant</sub>
                    <sub class="timeRemainingchasseur"></sub>
                    <br>
                    <sub>nombre d'unité en cours d'entrainement</sub>
                    <sub class="numberchasseur"></sub>
                </div>

                <h3>Chasseur</h3>

            </section>
            <section style="background-image: url('./ressource/image/warrior.png')" onclick="displayUnitPanel('chevalier', './ressource/image/warrior.png',
				'Le chevalier est un combattant à cheval. Le titre de chevalier est un titre honorifique militaire donné par un monarque ou un autre chef politique. Historiquement, en Europe, la chevalerie était constituée de guerriers à cheval'
				)">
                <div class="loadingBlack">
                    <sub>temps restant</sub>
                    <sub class="timeRemainingchevalier"></sub>
                    <br>
                    <sub>nombre d'unité en cours d'entrainement</sub>
                    <sub class="numberchevalier"></sub>
                </div>
                <h3>chevalier</h3>
            </section>

            <section style="background-image: url('./ressource/image/templier.jpg')" onclick="displayUnitPanel('templier', './ressource/image/templier.jpg',
				'Le chevalier est un combattant à cheval. Le titre de chevalier est un titre honorifique militaire donné par un monarque ou un autre chef politique. Historiquement, en Europe, la chevalerie était constituée de guerriers à cheval'
				)">
                <div class="loadingBlack">
                    <sub>temps restant</sub>
                    <sub class="timeRemainingtemplier"></sub>
                    <br>
                    <sub>nombre d'unité en cours d'entrainement</sub>
                    <sub class="numbertemplier"></sub>
                </div>
                <h3>templier</h3>
            </section>



        </div>
    </div>
</article>
<!-- 
<article>
    <h1>Armée ⚔</h1>

    <section>

        <h3>
            Chasseur
        </h3>

        <table>
            <thead>
                <th colspan="2">Caracteristique </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        cout en bois :
                    </td>
                    <td>
                        3000
                    </td>
                </tr>
                <tr>
                    <td>
                        cout en pierre:
                    </td>
                    <td>
                        1000
                    </td>
                </tr>
                <tr>
                    <td>vie</td>
                    <td>4 800</td>
                </tr>
                <tr>
                    <td>bouclier</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>attaque</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>vitesse</td>
                    <td>25 000</td>
                </tr>
                <tr>
                    <td>Capacite d'emport</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Consomation de nourriture</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>


        <h4>Quantité actuel</h4>
        <p id="nbchasseur"></p>
        <h4> Engager de nouveau chasseur </h4>
        <input type="number" name="chasseurToBuy" id="chasseurToBuy">
        <input type="button" onclick="addUnit('chasseur')" value="Commencer l'entrainement !">
        <p id="chasseurQuiArrive"></p>
    </section>


</article> -->