<article>
    <h1>Armée ⚔</h1>

    <section>

        <h3>
            Chasseur
        </h3>

        <table>
            <thead>
                <th colspan="2">Caracteristique </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        cout en bois :
                    </td>
                    <td>
                        3000
                    </td>
                </tr>
                <tr>
                    <td>
                        cout en pierre:
                    </td>
                    <td>
                        1000
                    </td>
                </tr>
                <tr>
                    <td>vie</td>
                    <td>4 800</td>
                </tr>
                <tr>
                    <td>bouclier</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>attaque</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>vitesse</td>
                    <td>25 000</td>
                </tr>
                <tr>
                    <td>Capacite d'emport</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Consomation de nourriture</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>


        <h4>Quantité actuel</h4>
        <p id="nbchasseur"></p>
        <h4> Engager de nouveau chasseur </h4>
        <input type="number" name="chasseurToBuy" id="chasseurToBuy">
        <input type="button" onclick="addUnit('chasseur')" value="Commencer l'entrainement !">
        <p id="chasseurQuiArrive"></p>
    </section>


</article>